* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #0E1516;
  background-color: #E9F0F1;
}

h1,h2,h3,p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  mix-blend-mode: multiply;
}

.subtitle {
  font-size: 12rem;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
  word-break: break-all;
}

@media (max-width: 800px) {
.subtitle{
  font-size: 8rem;
  text-transform: capitalize;
  max-width: initial;
}

}