.introducao {
  max-width: 1200px;
  padding: 4rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10rem;
  align-items: center;
}

.introducao h1 {
  font-size: 7.5rem;
  line-height: 1;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before{
  content: "";
  display: block;
  width: 13rem;
  height: 10rem;
  background: url(/img/detalhe.svg) no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao .button {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  background-color: #577174;
  border-radius: .5rem;
  transition: .5s ease-in-out;
}

.button:hover {
  background-color: #63969C;
  cursor: pointer;
  transition: .5s ease-in-out;
}